@charset "UTF-8";

body#accueil a#accueil,
body#services a#services,
body#equipe a#equipe,
body#chroniques a#chroniques,
body#temoignages a#temoignages,
body#contact a#contact {
	color: #99FF66;
}

.navbar a:link {
	color:#FFFFFF;
	font-size: 12px;
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}    /* unvisited link */
.navbar a:visited {
	color:#FFFFFF;
	font-size: 12px;
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
} /* visited link */
.navbar a:hover {
	color:#66CC33;
	font-size: 12px;
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}   /* mouse over link */
.navbar a:active {
	color:#66CC33;
	font-size: 12px;
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}  /* selected link */
.hyperlink1 a:link {
	color:#000000;
	font-size: 11px;
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}    /* unvisited link */
.hyperlink1 a:visited {
	color:#000000;
	font-size: 11px;
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
} /* visited link */
.hyperlink1 a:hover {
	color:#66CC33;
	font-size: 11px;
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}   /* mouse over link */
.hyperlink1 a:active {
	color:#000000;
	font-size: 11px;
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}  /* selected link */

.hyperlink2 a:link {
	color:#000000;
	font-size: 11px;
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: underline;
}    /* unvisited link */
.hyperlink2 a:visited {
	color:#000000;
	font-size: 11px;
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: underline;
} /* visited link */
.hyperlink2 a:hover {
	color:#66CC33;
	font-size: 11px;
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: underline;
}   /* mouse over link */
.hyperlink2 a:active {
	color:#000000;
	font-size: 11px;
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: underline;
}  /* selected link */

.hyperlink3 a:link {
	color: #66CC33;
	font-size: 20px;
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}    /* unvisited link */
.hyperlink3 a:visited {
	color: #66CC33;
	font-size: 20px;
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
} /* visited link */
.hyperlink3 a:hover {
	color: #000000;
	font-size: 20px;
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}   /* mouse over link */
.hyperlink3 a:active {
	color: #000000;
	font-size: 20px;
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}  /* selected link */

.hyperlink_small a:visited {
	color:#000000;
	font-size: 9px;
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
} /* visited link */
.hyperlink_small a:hover {
	color:#66CC33;
	font-size: 9px;
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}   /* mouse over link */
.hyperlink_small a:active {
	color:#000000;
	font-size: 9px;
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}  /* selected link */


.bullets {
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-size: 11px;
	font-style: normal;
	line-height: 16px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	text-align: left;
	word-spacing: normal;
	white-space: normal;
	list-style-position: outside;
	list-style-type: square;
}
H1 {
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-size: 30px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: capitalize;
	color: #66CC33;
	text-decoration: none;
}
H2 {
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: capitalize;
	color: #66CC33;
	text-decoration: none;
}
H3 {
	font-family: "Helvetica Medium 67 Condensed", "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	text-align: left;
	word-spacing: normal;
	white-space: normal;
	line-height: normal;
}
H4 {
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-size: 30px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: capitalize;
	color: #66CC33;
	text-decoration: none;
	text-align: left;
}
.style2 {
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-size: 11px;
	font-style: normal;
	line-height: 15px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	text-align: justify;
	word-spacing: normal;
	white-space: normal;
	list-style-position: inside;
	list-style-type: square;
}
.style2_gray {
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-size: 11px;
	font-style: normal;
	line-height: 15px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666666;
	text-decoration: none;
	text-align: justify;
	word-spacing: normal;
	white-space: normal;
	list-style-position: inside;
	list-style-type: square;
}
.style2_italic {
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-size: 11px;
	font-style: italic;
	line-height: 16px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	text-align: justify;
	word-spacing: normal;
	white-space: normal;
	list-style-position: inside;
	list-style-type: square;
}
.style2_italic_gray {
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-size: 11px;
	font-style: italic;
	line-height: 16px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666666;
	text-decoration: none;
	text-align: justify;
	word-spacing: normal;
	white-space: normal;
	list-style-position: inside;
	list-style-type: square;
}
.style4 {
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #4C4D4F;
	text-decoration: none;
	text-align: left;
	word-spacing: normal;
	white-space: normal;
	line-height: normal;
}

.style5 {
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-size: 24px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #66CC33;
	text-decoration: none;
	text-align: justify;
	word-spacing: normal;
	white-space: normal;
	list-style-position: inside;
	list-style-type: square;

}
.footer {
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #4C4D4F;
	text-decoration: none;
	text-align: left;
	word-spacing: normal;
	white-space: normal;
	line-height: normal;
}

.footerlink a:link {
	color:#4C4D4F;
	font-size: 9px;
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}    /* unvisited link */
.footerlink a:visited {
	color:#4C4D4F;
	font-size: 9px;
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
} /* visited link */
.footerlink a:hover {
	color:#66CC33;
	font-size: 9px;
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}   /* mouse over link */
.footerlink a:active {
	color:#4C4D4F;
	font-size: 9px;
	font-family: "Helvetica 57 Condensed", "Helvetica Neue", "Helvetica", "Frutiger 57 Condensed";
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}  /* selected link */
