$couleur_logo: #95d60a; /* couleur logo */
$gris: #8d8d8d;
$gris_clair: #898989;
$gris_article: #C3C3C3;
$gris_moyen: #303030;
$gris_fonce: #15160f;
$gris_footer: #FBFBFB;
$texte: #DCDCDC;
$texte_footer: #363636;
/* COULEURS SERVICES */
$turquoise: #00f1f1;
$vert: #05761d;
$orange: #ff9000;
$jaune-vert: #b3de3e;
$rouge: #fc2b2c;
$violet: #9649ff;
$mauve: #a419a0;
$vert-pomme: #20d40d;
$bleu: #345fff;
$bleu-pale: #13a7cf;
$jaune: #e6d800;

/* ANCIENNES COULEURS SERVICES */
//$bleu: #28cee6;
//$jaune: #E4E259;
//$violet: #D1B2F0;
//$vert: #4df057;
//$rouge_saumon: #F4A0B2;
//$vert_pomme: #B7EB7B;
//$orange: #F4D185;
//$rouge: #F5ACED;
//$mauve: #A8ABF0;
//$vert_eau: #A0E3AB;
//$jaune_clair: #F7F1AA;
