 include "_modules/header.html"

<header dkit-grid="col-12" style="background-image: url(../../img/bg_header.jpg);" class="home">
    <div class="Gradient"></div>

include "_modules/menu.html"

<!-- DEBUT ACCUEIL -->        
<div dkit-grib="col-12" class="Accueil">
	<p>Retrouvez votre élément avec</p>
	<h1>Un <strong>esprit</strong> sain <br/>dans un <b>corps</b> sain.</h1>
	<a class="Bouton-contour" href="services.html">Découvrez nos services
	<span class="icon-arrow-right"></span>
	</a>
</div>
</header>

include "_modules/sous-menu.html"


<!-- DEBUT BLOG -->
<section class="Blog-max" data-grid="col-12">

	<!-- Bloc à gauche -->
	<!-- 
		NOTE:

		Tu peut outputter en PHP un <div class="shadow-tile"></div> avec un option dans le CMS pour mettre un gradient
		si le titre n'apparait pas bien sur l'image, tu peut aussi ajouter la classe "white" pour avoir une version blanche		
	-->
	<div class="Blog-max_left" data-grid="col-8">
		
		
		<div class="left-large" data-grid="col-12" style="background-image:url(../../img/glasses.jpg);">
			<a class="block-link" href="#"></a>
			<div class="post-flash" data-grid="col-12">
			<h2><a href="#">Consulter n’a jamais fait de mal à personne, au contraire !</a></h2>
			<span class="type">psychologie</span>
			<span class="date">28 mars</span>
</div>
			<div class="post-author">
				<div class="author-img">
					<img src="../../img/doc.jpg">
				</div>
				<div class="author-flash">
					<a href="#julie" class="name">DRE Julie Lemaire</a><br>
					<span class="job">Chiropracticienne</span>
				</div>
			</div>
			<div class="shadow-tile white"></div>
		</div>
		
		
		<div class="left-small" data-grid="col-6" style="background-image:url(../../img/runner.jpg);">
			<a class="block-link" href="#"></a>
			<div class="post-flash" data-grid="col-12">
				<h2 class="txt-white"><a href="#">Consulter n’a jamais fait de mal à personne, au contraire !</a></h2>
				<span class="type txt-white">psychologie</span>
				<span class="date txt-white">28 mars</span>
			</div>
			<div class="post-author">
				<div class="author-img">
					<img src="../../img/doc.jpg">
				</div>
				<div class="author-flash">
					<span class="name txt-white">DRE Julie Lemaire</span><br>
					<span class="job txt-white">Chiropracticienne</span>
				</div>
			</div>
			<div class="shadow-tile"></div>
		</div>
		
		
		<div class="left-small" data-grid="col-6" style="background-image:url(../../img/outdoor.jpg);">
			<a class="block-link" href="#"></a>
			<div class="post-flash" data-grid="col-12">
				<h2><a href="#">Consulter n’a jamais fait de mal à personne, au contraire !</a></h2>
				<span class="type">psychologie</span>
				<span class="date">28 mars</span>
			</div>
			<div class="post-author">
				<div class="author-img">
					<img src="../../img/doc.jpg">
				</div>
				<div class="author-flash">
					<a href="#" class="name">DRE Julie Lemaire</a><br>
					<span class="job">Chiropracticienne</span>
				</div>
			</div>
			<div class="shadow-tile white"></div>
		</div>
		
	</div>
	
	<!-- Bloc à droite  patate-->
	<div class="Blog-max_right" data-grid="col-4">
		<div class="right-large" data-grid="col-12" style="background-image:url(../../img/back.jpg);">
			<a class="block-link" href="#"></a>
			<div class="post-flash" data-grid="col-12">
				<h2 class="txt-white"><a href="#">Consulter n’a jamais fait de mal à personne, au contraire !</a></h2>
				<span class="type txt-white">psychologie</span>
				<span class="date txt-white">28 mars</span>
			</div>
			<div class="post-author">
				<div class="author-img">
					<img src="../../img/doc.jpg">
				</div>
				<div class="author-flash">
					<span class="name txt-white">DRE Julie Lemaire</span><br>
					<span class="job txt-white">Chiropracticienne</span>
				</div>
			</div>
			<div class="shadow-tile"></div>
		</div>
	</div>
	
	<!-- blocs additionnels du blogue	-->
	<div class="Blog-max_roll" data-grid="col-12">
		
		<div class="left-small" data-grid="col-4" style="background-image:url(../../img/runner.jpg);">
			<a class="block-link" href="#"></a>
			<div class="post-flash" data-grid="col-12">
				<h2 class="txt-white"><a href="#">Consulter n’a jamais fait de mal à personne, au contraire !</a></h2>
				<span class="type txt-white">psychologie</span>
				<span class="date txt-white">28 mars</span>
			</div>
			<div class="post-author">
				<div class="author-img">
					<img src="../../img/doc.jpg">
				</div>
				<div class="author-flash">
					<span class="name txt-white">DRE Julie Lemaire</span><br>
					<span class="job txt-white">Chiropracticienne</span>
				</div>
			</div>
			<div class="shadow-tile"></div>
		</div>
		
		<div class="left-small" data-grid="col-4" style="background-image:url(../../img/outdoor.jpg);">
			<a class="block-link" href="#"></a>
			<div class="post-flash" data-grid="col-12">
				<h2><a href="#">Consulter n’a jamais fait de mal à personne, au contraire !</a></h2>
				<span class="type">psychologie</span>
				<span class="date">28 mars</span>
			</div>
			<div class="post-author">
				<div class="author-img">
					<img src="../../img/doc.jpg">
				</div>
				<div class="author-flash">
					<a href="#" class="name">DRE Julie Lemaire</a><br>
					<span class="job">Chiropracticienne</span>
				</div>
			</div>
			<div class="shadow-tile white"></div>
		</div>
		
		<div class="left-small" data-grid="col-4" style="background-image:url(../../img/runner.jpg);">
			<a class="block-link" href="#"></a>
			<div class="post-flash" data-grid="col-12">
				<h2 class="txt-white"><a href="#">Consulter n’a jamais fait de mal à personne, au contraire !</a></h2>
				<span class="type txt-white">psychologie</span>
				<span class="date txt-white">28 mars</span>
			</div>
			<div class="post-author">
				<div class="author-img">
					<img src="../../img/doc.jpg">
				</div>
				<div class="author-flash">
					<span class="name txt-white">DRE Julie Lemaire</span><br>
					<span class="job txt-white">Chiropracticienne</span>
				</div>
			</div>
			<div class="shadow-tile"></div>
		</div>
		
	</div>
	
	
	
</section>


<!-- FIN BLOG -->
include "_modules/footer.html"


<script>

$(document).ready(function(){
	
	switchBlog();
	
	$(window).on('resize', switchBlog);
	
	function switchBlog(){
		($(window).width() <= 1000 ) ? 
			$('.right-large').appendTo('.Blog-max_left') : 
			$('.right-large').appendTo('.Blog-max_right')	
	}
	
	
});

</script>