include "_modules/header.html"

<!--DÉBUT HEADER-->
<header dkit-grid="col-12" class="page" style="background-image: url(../../img/bg_masso.jpg);">
    <div class="Gradient"></div>
    include "_modules/menu.html"
</header>

include "_modules/sous-menu.html"

<!--DÉBUT CONTENT-->
<div dkit-grid="col-12" class="Services Fond">
    <div class="Aside" dkit-grid="col-4">
   	
   		<span class="label">Nos professionnels</span>
   		
   		<div class="Aside-item" dkit-grid="col-12">
   			<div class="item_img" dkit-grid="col-12">
   				<img src="http://lorempixel.com/200/200/">
   			</div>
   			<div class="item_desc" dkit-grid="col-12">
   				<span class="name">DRE Julie Lemaire</span>
   				<span class="job">Chiropracticienne</span>
   				<a href="#" class="pink">En savoir plus <span class="icon-arrow-right"></span></a>
   			</div>
   		</div>
   		
   		<div class="Aside-item" dkit-grid="col-12">
   			<div class="item_img" dkit-grid="col-12">
   				<img src="http://lorempixel.com/200/200/">
   			</div>
   			<div class="item_desc" dkit-grid="col-12">
   				<span class="name">DRE Julie Lemaire</span>
   				<span class="job">Chiropracticienne</span>
   				<a href="#" class="pink">En savoir plus <span class="icon-arrow-right"></span></a>
   			</div>
   		</div>
   		
   		<div class="Aside-item" dkit-grid="col-12">
   			<div class="item_img" dkit-grid="col-12">
   				<img src="http://lorempixel.com/200/200/">
   			</div>
   			<div class="item_desc" dkit-grid="col-12">
   				<span class="name">DRE Julie Lemaire</span>
   				<span class="job">Chiropracticienne</span>
   				<a href="#" class="pink">En savoir plus <span class="icon-arrow-right"></span></a>
   			</div>
   		</div>
   	
   </div>
    <section dkit-grid="col-8" class="Service-container">
        <div dkit-grid="col-5" class="Services_items Domaine">
            <div class="items_wrapper">
                <h2>Ma</h2>
                <h3>Massothérapie</h3>
            <div style="clear:both;"></div>
            </div>
        </div>
        
        <div dkit-grid="col-12" class="Content">
            <h1>Notre approche</h1>
            <p>
                Notre approche en massothérapie utilise des techniques manuelles spécifiques basées sur des données scientifiques. La force de notre équipe repose sur notre qualité d'écoute et notre habileté à identifier les besoins spécifiques du client afin de pouvoir lui offrir le meilleur traitement qui soit. Le massage thérapeutique se fait dans une ambiance de détente et de respect, ce qui facilite la diminution des tensions. Le traitement se complétera, si nécessaire, avec des exercices d'assouplissement et des conseils afin d'améliorer votre hygiène de vie.
            </p>
            <h1>Questions fréquentes</h1>
            <div dkit-grid="col-12" class="Questions">
                <p dkit-grid="col-11">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt commodi, magni? Veritatis nostrum ea cum, voluptate optio ipsa, eius quasi sit quis numquam iusto hic sed sint nemo sunt dolor ?
                </p>
                <div dkit-grid="col-11" class="Reponse">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt commodi, magni? Veritatis nostrum ea cum, voluptate optio ipsa, eius quasi sit quis numquam iusto hic sed sint nemo sunt dolor ?
                    </p>
                </div>
                <div dkit-grid="col-1" class="icon-uni60 Plus"></div>
            </div>
            <div dkit-grid="col-12" class="Questions">
                <p dkit-grid="col-11">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt commodi, magni? Veritatis nostrum ea cum, voluptate optio ipsa, eius quasi sit quis numquam iusto hic sed sint nemo sunt dolor ?
                </p>
                <div dkit-grid="col-11" class="Reponse">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt commodi, magni? Veritatis nostrum ea cum, voluptate optio ipsa, eius quasi sit quis numquam iusto hic sed sint nemo sunt dolor ?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt commodi, magni? Veritatis nostrum ea cum, voluptate optio ipsa, eius quasi sit quis numquam iusto hic sed sint nemo sunt dolor ?
                    </p>
                </div>
                <div dkit-grid="col-1" class="icon-uni60 Plus"></div>
            </div>
            <div dkit-grid="col-12" class="Questions">
                <p dkit-grid="col-11">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt commodi, magni? Veritatis nostrum ea cum, voluptate optio ipsa, eius quasi sit quis numquam iusto hic sed sint nemo sunt dolor ?
                </p>
                <div dkit-grid="col-1" class="icon-uni60 Plus"></div>
            </div>
            
            <h1>Liens utiles</h1>
            <div dkit-grid="col-12" class="Liens">
                <div dkit-grid="col-6" class="Liens_items">
                    <p>
                        <span class="icon-uniE033"></span>
                        <a href="">Liens utiles</a>
                    </p>
                </div>
                <div dkit-grid="col-6" class="Liens_items">
                    <p>
                        <span class="icon-uniE033"></span>
                        <a href="">Liens utiles</a>
                    </p>
                </div>
                <div dkit-grid="col-6" class="Liens_items">
                    <p>
                        <span class="icon-uniE033"></span>
                        <a href="">Liens utiles</a>
                    </p>
                </div>
                <div dkit-grid="col-6" class="Liens_items">
                    <p>
                        <span class="icon-uniE033"></span>
                        <a href="">Liens utiles</a>
                    </p>
                </div>
                <div dkit-grid="col-6" class="Liens_items">
                    <p>
                        <span class="icon-uniE033"></span>
                        <a href="">Liens utiles</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
<!--DÉBUT BLOG-->
<section dkit-grid="col-12" class="Blog">
       
    	<div class="Blog_roll" data-grid="col-12">
		
		<div class="left-small" data-grid="col-4" style="background-image:url(../../img/runner.jpg);">
			<a class="block-link" href="#"></a>
			<div class="post-flash" data-grid="col-12">
				<h2 class="txt-white"><a href="#">Consulter n’a jamais fait de mal à personne, au contraire !</a></h2>
				<span class="type txt-white">psychologie</span>
				<span class="date txt-white">28 mars</span>
			</div>
			<div class="post-author">
				<div class="author-img">
					<img src="../../img/doc.jpg">
				</div>
				<div class="author-flash">
					<span class="name txt-white">DRE Julie Lemaire</span><br>
					<span class="job txt-white">Chiropracticienne</span>
				</div>
			</div>
			<div class="shadow-tile"></div>
		</div>
		
		<div class="left-small" data-grid="col-4" style="background-image:url(../../img/outdoor.jpg);">
			<a class="block-link" href="#"></a>
			<div class="post-flash" data-grid="col-12">
				<h2><a href="#">Consulter n’a jamais fait de mal à personne, au contraire !</a></h2>
				<span class="type">psychologie</span>
				<span class="date">28 mars</span>
			</div>
			<div class="post-author">
				<div class="author-img">
					<img src="../../img/doc.jpg">
				</div>
				<div class="author-flash">
					<a href="#" class="name">DRE Julie Lemaire</a><br>
					<span class="job">Chiropracticienne</span>
				</div>
			</div>
			<div class="shadow-tile white"></div>
		</div>
		
		<div class="left-small" data-grid="col-4" style="background-image:url(../../img/runner.jpg);">
			<a class="block-link" href="#"></a>
			<div class="post-flash" data-grid="col-12">
				<h2 class="txt-white"><a href="#">Consulter n’a jamais fait de mal à personne, au contraire !</a></h2>
				<span class="type txt-white">psychologie</span>
				<span class="date txt-white">28 mars</span>
			</div>
			<div class="post-author">
				<div class="author-img">
					<img src="../../img/doc.jpg">
				</div>
				<div class="author-flash">
					<span class="name txt-white">DRE Julie Lemaire</span><br>
					<span class="job txt-white">Chiropracticienne</span>
				</div>
			</div>
			<div class="shadow-tile"></div>
		</div>
		
		<div class="left-small" data-grid="col-4" style="background-image:url(../../img/outdoor.jpg);">
			<a class="block-link" href="#"></a>
			<div class="post-flash" data-grid="col-12">
				<h2><a href="#">Consulter n’a jamais fait de mal à personne, au contraire !</a></h2>
				<span class="type">psychologie</span>
				<span class="date">28 mars</span>
			</div>
			<div class="post-author">
				<div class="author-img">
					<img src="../../img/doc.jpg">
				</div>
				<div class="author-flash">
					<a href="#" class="name">DRE Julie Lemaire</a><br>
					<span class="job">Chiropracticienne</span>
				</div>
			</div>
			<div class="shadow-tile white"></div>
		</div>
		
	</div>
	
</section>

<!--DÉBUT SERVICES-->
<section dkit-grid="col-12" class="Services Services_page">
    <div dkit-grid="grid-wrapper" class="Ligne">
        <h1>Services offerts</h1>
    </div>

    <div dkit-grid="grid-wrapper" class="services_box">
        <div dkit-grid="col-3" class="Services_items">
            <div class="items_wrapper">
                <h2>Ch</h2>
                <h3>Chiropratique</h3>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div dkit-grid="col-3" class="Services_items">
            <div class="items_wrapper">
                <h2>Ch</h2>
                <h3>Chiropratique</h3>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div dkit-grid="col-3" class="Services_items">
            <div class="items_wrapper">
                <h2>Ch</h2>
                <h3>Chiropratique</h3>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div dkit-grid="col-3" class="Services_items">
            <div class="items_wrapper">
                <h2>Ch</h2>
                <h3>Chiropratique</h3>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div dkit-grid="col-3" class="Services_items">
            <div class="items_wrapper">
                <h2>Ch</h2>
                <h3>Chiropratique</h3>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div dkit-grid="col-3" class="Services_items">
            <div class="items_wrapper">
                <h2>Ch</h2>
                <h3>Chiropratique</h3>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div dkit-grid="col-3" class="Services_items">
            <div class="items_wrapper">
                <h2>Ch</h2>
                <h3>Chiropratique</h3>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div dkit-grid="col-3" class="Services_items">
            <div class="items_wrapper">
                <h2>Ch</h2>
                <h3>Chiropratique</h3>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div dkit-grid="col-3" class="Services_items">
            <div class="items_wrapper">
                <h2>Ch</h2>
                <h3>Chiropratique</h3>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div dkit-grid="col-3" class="Services_items">
            <div class="items_wrapper">
                <h2>Ch</h2>
                <h3>Chiropratique</h3>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div dkit-grid="col-3" class="Services_items">
            <div class="items_wrapper">
                <h2>Ch</h2>
                <h3>Chiropratique</h3>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>

</section>

include "_modules/footer.html"