include "_modules/header.html"

<header dkit-grid="col-12" class="page" style="background-image: url(../../img/training.jpg);">
    <div class="Gradient"></div>

include "_modules/menu.html"

</header>

include "_modules/sous-menu.html"

<!-- DÉBUT SECTION ÉQUIPE -->
<div dkit-grid="col-12" class="Article">
    <div dkit-grid="col-4" class="Aside author">
        <div class="item">
           <img src="../../img/profil.jpg" alt="">
       </div>
       
        <h1>Dre Julie Lemaire</h1>
        <p class="domaine">Chiropraticienne</p>
        <p>Proin in imperdiet libero, vitae dapibus lacus. Nullam sed justo malesuada, malesuada sem non, eleifend urna. Curabitur frin.vitae dapibus lacus.</p>
        
        <ul>
            <li><a href=""><span class="icon-uniE01D"></span></a></li
            ><li><a href=""><span class="icon-uniE018"></span></a></li
            ><li><a href=""><span class="icon-uniE01D"></span></a></li
            ><li><a href=""><span class="icon-uniE00B"></span></a></li
            ><li><a href=""><span class="icon-uniE012"></span></a></li>
        </ul>
        
        <a href="#" class="plus">En savoir plus sur Julie<span class="icon-arrow-right"></span></a>
        
    </div>
    
    <section dkit-grid="col-8" class="container">
        <div dkit-grid="col-6" class="titre">
                <p>
                    <span class="domaine">Kinésiologie</span>
                    <span class="separateur">|</span> 
                    <span class="date">28 mars</span>
                </p>
               <h1>Comment éviter les douleurs musculaires aux épaules.</h1>
        </div>
        
        <div dkit-grid="col-12" class="content">
            <a href="chroniques.html" class="retour"><span class="icon-arrow-left"></span>Retour aux articles</a>
            <p>
                Présentation ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et ornare arcu. Aliquam diam ligula, ultrices sit amet massa sed, bibendum molestie orci. Donec tristique dapibus orci vel posuere. Mauris vel arcu vel mi viverra commodo. Proin in imperdiet libero, vitae dapibus lacus. Nullam sed justo malesuada, malesuada sem non, eleifend urna. Curabitur fringilla risus ac metus semper elementum finibus non sapien. Proin lacus neque, sollicitudin vehicula rhoncus ut, feugiat ac nisi. Maecenas feugiat laoreet laoreet.
            </p>
            <p>
                Nam posuere, ipsum vitae ornare facilisis, nunc est vestibulum nibh, et semper turpis risus et nisl. In metus orci, placerat quis auctor quis, gravida id augue.
            </p>
            
            
            
            <h2>Liens utiles</h2>
            <p>Présentation ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et ornare arcu. Aliquam diam ligula, ultrices sit amet massa sed, bibendum molestie orci. Donec tristique dapibus orci vel posuere. Mauris vel arcu vel mi viverra commodo. Proin in imperdiet libero, vitae dapibus lacus. Nullam sed justo malesuada, malesuada sem non, eleifend urna. Curabitur fringilla risus ac metus semper elementum finibus non sapien. Proin lacus neque, sollicitudin vehicula rhoncus ut, feugiat ac nisi. Maecenas feugiat laoreet laoreet.</p>
            
            <div dkit-grid="col-6" class="photo"><img src="../img/outdoor.jpg" alt=""></div>
            <div dkit-grid="col-6" class="photo"><img src="../img/outdoor.jpg" alt=""></div>
            
            <div style="clear:both;"></div>
            
            <p class="credit-photo">Crédit photos: Lorem Ipsum</p>
            
            <blockquote>« Proin in imperdiet libero, vitae dapibus lacus. Nullam sed justo malesuada, malesuada sem non, eleifend urna. Curabitur frin.vitae dapibus lacus. Nullam sed justo malesuada, malesuada sem non, eleifend urna. Curabitur frin... »</blockquote>
            
            <h2>Liens utiles</h2>
            <p>Présentation ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et ornare arcu. Aliquam diam ligula, ultrices sit amet massa sed, bibendum molestie orci. Donec tristique dapibus orci vel posuere. Mauris vel arcu vel mi viverra commodo. Proin in imperdiet libero, vitae dapibus lacus. Nullam sed justo malesuada, malesuada sem non, eleifend urna. Curabitur fringilla risus ac metus semper elementum finibus non sapien. Proin lacus neque, sollicitudin vehicula rhoncus ut, feugiat ac nisi. Maecenas feugiat laoreet laoreet.</p>
            
            <a href="chroniques.html" class="retour"><span class="icon-arrow-left"></span>Retour aux articles</a>
            
            <p class="like">Vous aimez cette chronique, partagez-là !</p>
            <ul>
                <a href=""><li class="icon-uniE01D"></li></a>
                <a href=""><li class="icon-uniE018"></li></a>
                <a href=""><li class="icon-uniE01B"></li></a>
                <a href=""><li class="icon-uniE00B"></li></a>
                <a href=""><li class="icon-uniE012"></li></a>
            </ul>
        </div>
    </section>
</div>

<section dkit-grid="col-12" class="Blog">
   
    <div class="Blog_roll" data-grid="col-12">
		
		<div class="left-small" data-grid="col-4" style="background-image:url(../../img/runner.jpg);">
			<a class="block-link" href="#"></a>
			<div class="post-flash" data-grid="col-12">
				<h2 class="txt-white"><a href="#">Consulter n’a jamais fait de mal à personne, au contraire !</a></h2>
				<span class="type txt-white">psychologie</span>
				<span class="date txt-white">28 mars</span>
			</div>
			<div class="post-author">
				<div class="author-img">
					<img src="../../img/doc.jpg">
				</div>
				<div class="author-flash">
					<span class="name txt-white">DRE Julie Lemaire</span><br>
					<span class="job txt-white">Chiropracticienne</span>
				</div>
			</div>
			<div class="shadow-tile"></div>
		</div>
		
		<div class="left-small" data-grid="col-4" style="background-image:url(../../img/outdoor.jpg);">
			<a class="block-link" href="#"></a>
			<div class="post-flash" data-grid="col-12">
				<h2><a href="#">Consulter n’a jamais fait de mal à personne, au contraire !</a></h2>
				<span class="type">psychologie</span>
				<span class="date">28 mars</span>
			</div>
			<div class="post-author">
				<div class="author-img">
					<img src="../../img/doc.jpg">
				</div>
				<div class="author-flash">
					<a href="#" class="name">DRE Julie Lemaire</a><br>
					<span class="job">Chiropracticienne</span>
				</div>
			</div>
			<div class="shadow-tile white"></div>
		</div>
		
		<div class="left-small" data-grid="col-4" style="background-image:url(../../img/runner.jpg);">
			<a class="block-link" href="#"></a>
			<div class="post-flash" data-grid="col-12">
				<h2 class="txt-white"><a href="#">Consulter n’a jamais fait de mal à personne, au contraire !</a></h2>
				<span class="type txt-white">psychologie</span>
				<span class="date txt-white">28 mars</span>
			</div>
			<div class="post-author">
				<div class="author-img">
					<img src="../../img/doc.jpg">
				</div>
				<div class="author-flash">
					<span class="name txt-white">DRE Julie Lemaire</span><br>
					<span class="job txt-white">Chiropracticienne</span>
				</div>
			</div>
			<div class="shadow-tile"></div>
		</div>
		
		<div class="left-small" data-grid="col-4" style="background-image:url(../../img/outdoor.jpg);">
			<a class="block-link" href="#"></a>
			<div class="post-flash" data-grid="col-12">
				<h2><a href="#">Consulter n’a jamais fait de mal à personne, au contraire !</a></h2>
				<span class="type">psychologie</span>
				<span class="date">28 mars</span>
			</div>
			<div class="post-author">
				<div class="author-img">
					<img src="../../img/doc.jpg">
				</div>
				<div class="author-flash">
					<a href="#" class="name">DRE Julie Lemaire</a><br>
					<span class="job">Chiropracticienne</span>
				</div>
			</div>
			<div class="shadow-tile white"></div>
		</div>
		
	</div>
    
</section>


include "_modules/footer.html"
